<!DOCTYPE html>
<html>

{% extends 'base_http_fail.html' %}
{% load static %}

{% block custom_body %}
    <body class="bg503 errorpage">
        <section>
            <div class="wp">
                <div class="cont">
                    <div class="fl error_cut"><img src="{% static 'images/pic503.png' %}"/></div>
                    <div class="fr error_cut">
                        <img src="{% static 'images/word503.png' %}"/>
                        <br/><br/><br/><br/><br/><br/>
                        <p>服务器错误，请稍后重新刷新。</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}

</html>
